# Configuración de la API
ENVIRONMENT=production
APP_PORT=8000

# AWS S3 (Obligatorio)
S3_BUCKET_NAME=finansuenos-reportes-privados
AWS_REGION=us-east-1

# AWS Credenciales (Opcional si usas Roles de IAM en AWS, Obligatorio localmente)
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key

# SQS (Opcional, si no se pone, la app corre en modo local/hilos)
SQS_QUEUE_URL=
