# --- Framework API & Servidor ---
fastapi>=0.109.0
uvicorn>=0.27.0
python-multipart
python-dotenv
starlette
pydantic>=2.0.0
pydantic-settings
pydantic-core

# --- Procesamiento de Datos (Core) ---
polars
pandas
numpy

# --- Excel (Lectura y Escritura) ---
openpyxl
xlsxwriter
xlsx2csv
fastexcel
xlrd
et-xmlfile

# --- AWS (Nube) ---
boto3
botocore
s3transfer

# --- Utilidades y Fechas ---
python-dateutil
pytz
tzdata
PyYAML

# --- Algoritmos (Fuzzy matching para nombres) ---
Levenshtein
python-Levenshtein
RapidFuzz

# --- Dependencias internas necesarias (HTTP, Async, etc.) ---
anyio
click
h11
httptools
idna
sniffio
typing-extensions
urllib3
watchfiles
websockets
annotated-types
pytest

# python -m uvicorn main_api:app --comando para correr la api localmente
# docker build -t api-reportes:v1.0.0 . --comando para crear la imagen docker
# docker tag api-reportes:v1.0.0 039612863646.dkr.ecr.us-east-1.amazonaws.com/api-reportes:v1.0.0 --comanddp para taggear la imagen    
# docker run -p 8000:8000 api-reportes --comando para correr el contenedor
# URL de la API: http://127.0.0.1:8000/docs#/Datacr%C3%A9dito/procesar_reporte_datacredito_api_v1_datacredito_process_post
# git tag v1.0.0 Tag para versionar la api
# AmazonEC2ContainerRegistryFullAccess Permisos para usuario aws
# AWSAppRunnerFullAccess Perormisos para usuario aws
# pyinstaller --onefile --windowed --name="Reportes" --icon="src/icons/informe.png" --add-data="src;src" src/app.py --comando para crear el ejecutable